*{
    margin:0px;
    padding:0px;
}

body{
    background-color:#232323;
}

/*************************************************************
*********** MENU
**************************************************************/

nav{
    width:200px;
    background-color:#232323;
    z-index:20;
    position:fixed;
}

nav ul{
    list-style-type:none;
}

nav a{
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:#FFFFFF;
    padding:17.5px;
    font-size:15.5px;
}

nav > ul li:hover .sous{
    display:block;
}

nav .sous{
    display:none;
    background-color:#232323;
    position:absolute;
    width:100%;
    z-index:10;
    font-family:'Darker Grotesque', sans-serif;
}

nav .sous a{
    padding:10px;
}

nav .sous a:hover{
    transition:0.5s;
}

nav .sous li:nth-child(1) a:hover{background-color:#4682b4;}
nav .sous li:nth-child(2) a:hover{background-color:#6f9457;}
nav .sous li:nth-child(3) a:hover{background-color:#9b443f;}
nav .sous li:nth-child(4) a:hover{background-color:#dda148;}
nav .sous li:nth-child(5) a:hover{background-color:#76877d;}
nav .sous li:nth-child(6) a:hover{background-color:#aca9e2;}
nav .sous li:nth-child(7) a:hover{background-color:#4c8577;}
nav .sous li:nth-child(8) a:hover{background-color:#c67b91;}

/*************************************************************
*********** SECTION
**************************************************************/

section{
    display:none;
    position:fixed;
    top:50px;
    bottom:15px;
    left:0px;
    right:0px;
    overflow:auto;  
}

section:target{
    display:block;
    padding:12px;
    font-size:12px;
    color:#FFFFFF;
}

section h1{
    position:fixed;
    top:0px;
    right:0px;
    left:0px;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#232323;
    font-size:22px;
    font-weight: lighter;
    font-family:'Darker Grotesque', sans-serif;
}

section:nth-child(2) h1{background-color:#4682b4;}
section:nth-child(3) h1{background-color:#6f9457;}
section:nth-child(4) h1{background-color:#9b443f;}
section:nth-child(5) h1{background-color:#dda148;}
section:nth-child(6) h1{background-color:#76877d;}
section:nth-child(7) h1{background-color:#aca9e2;}
section:nth-child(8) h1{background-color:#4c8577;}
section:nth-child(9) h1{background-color:#c67b91;}



/*************************************************************
*********** RESPONSIVE DESIGN
**************************************************************/

@media (max-width: 550px){
    section h1{
        left:100px;
        right:0px;
    }
    nav{
        width:100px;
    }
    nav .sous{
        width:100vw;
    }
    footer span{
        visibility:hidden;
    }
}

/*************************************************************
*********** ACCUEIL
**************************************************************/


/*************************************************************
*********** CV
**************************************************************/

#cv{
    overflow:hidden;
}

.contenu-cv{
    display:flex;
    align-items:center;
    justify-content: center;
}

embed{
    width:850px;
    height:92vh;
}